.header {
    text-align: center;
    background-color: cornflowerblue;
    height: 200px;
    overflow: auto;
}

.logo {
    float: left;
    width: 200px;
    height: 200px
}

.main-title {
    font-size: 45px; 
    height: 178px;
    width: 700px;
    margin: 0px;
    padding-top: 22px;
}

body {
    font-family: sans-serif;
}

.twitter {
    padding-left: 5px;
    float: left
}

.twitterlogo {
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 9px;
}

.details {
    text-align: center;
}

.email {
    float: right
}
