.header {
  display: grid;
  grid-template-columns: 133px auto 133px;
  grid-template-rows: 43px 43px 43px;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  background-color: cornflowerblue;
  overflow: auto;
  margin-top: 84px;
  width=100%;
  height: 129px;
  border-bottom: 1vw solid black;
}

.logo {
    float: right;
    width: 125px;
    height: auto;
    background-color: white;
    grid-column: 3;
    grid-row: 1 / 4;
}

.main-title {
    font-size: 30px; 
/*    width: 56.95%;*/
    height: 114px;
    float: left;
    color: white;
    background-color: cornflowerblue;
/*    align-self: baseline;*/
/*    padding-bottom: 3.1%;*/
    padding-top: 25px;
/*
    padding-left: 5.97%;
    padding-right: 5.97%;
*/
    margin: 0px;
/*    order: 2;*/
  grid-column: 2;
  grid-row: 1 / 4;
}

body {
    font-family: Arial;
    width: 100%;
    margin: auto;
}

.twitter {
    padding-left: 5px;
    float: left
}

.twitterlogo {
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 9px;
}

.details {
    text-align: center;
}

.email {
    float: right
}

.uon_logo {
  grid-column: 1;
  grid-row: 1;
  float: left;
  width: 120px;
  height: auto;
  padding-right: 1%;
  background-color: limegreen;
}

.description {
    padding-top: 3%;
    padding-left: 1%;
    font-size: 20px;
    width: 98%;
    text-align: justify;
}

.content {
    width: 98%;
    padding-top: 3%;
    padding-left: 1%;
    text-align: center;
    font-size: 20px;
}

.navbar {
    height: 77px;
    position: fixed;
    margin-top: -84px;
    background-color: white;
    width: 100%;
    border-bottom: 7px solid black;
}

.buttons {
    float: left;
    display: block;
    padding-bottom: 27px;
    padding-top: 27px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 19px;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

.buttons:hover {
    background-color: limegreen;
    color: black;
    border: 3px solid black;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.nav_logo {
    float: left;
    height: 76px;
    padding: 0px;
}

.page_holder {
    margin-top: 77px;
    padding: 50px;
}



.location-picture {
  width: 100%;
}

.location-content {
  margin-top: 84px;
  width: 98%;
  padding-left: 1%;
  text-align: justify;
}

.image-enlarged {
  margin-top: 84px;
  width: 1275px;
}

a {
  color: cornflowerblue;
  text-decoration-line: none;
}

a:hover {
  color: limegreen;
}

.speakers-content {
  margin-top: 84px;
  width: 98%;
/*  padding-left: 1%;*/
  text-align: justify;
}

.speaker-bios {
  width: 100%;
  text-align: center;
  padding-left: 1%;
}

.speaker-bios table {
  width: 100%;
  border: 10px solid black;
  border-collapse: collapse;
}

.speaker-bios td, .speaker-bios tr {
  border: 10px solid black;
  border-collapse: collapse;
  height: 250px;
}

.speaker-bios p {
  text-align: justify;
  padding: 1%;
}

.jess {
  background-color: limegreen;
}

.helen {
  background-color: cornflowerblue;
  color: white;
}

.camilla {
  background-color: deeppink;
  color: white;
}

.emma {
  background-color: limegreen;
}

.speaker-images {
  height: 100%;
  max-height: 500px;
  max-width: 180px;
}

.programme-content {
  margin-top: 84px;
  width: 98%;
/*  padding-left: 1%;*/
  text-align: justify;
}

.programme {
  text-align: center;
  width: 100%;
  padding-left: 0px;
}

.programme table {
  width: 100%;
  border: 5px solid black;
  border-collapse: collapse;
  font-size: 20px;
  margin-bottom: 10%;
}

.programme td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 1%
}

.programme th {
  border: 4px solid black;
  border-collapse: collapse;
  padding: 1%
}

tr.break {
  background-color: cornflowerblue;
  color: white;
}

tr.other {
  background-color: hotpink;
  color: white;
}

tr.talk {
  background-color: limegreen;
}

.registration-content {
  margin-top: 84px;
  width: 98%;
/*  padding-left: 1%;*/
  text-align: center;
}

.registration-link {
  text-align: center;
  color: white;
  background-color: hotpink;
  border: 10px solid black;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}

.registration-link:hover {
  color: black;
  background-color: limegreen;
}

.susha {
  background-color: cornflowerblue;
  color: white;
}

#emma-pic {
/*  override because image is square */
  max-height: 190px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
/*  cursor: pointer;*/
  font-size: 19px;  
  border: none;
  outline: none;
  color: darkblue;
  padding-bottom: 28px;
  padding-top: 27px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: limegreen;
  color: black;
  border: 3px solid black;
  padding-top: 24px;
  padding-bottom: 26px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: darkblue;
  font-weight: bold;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: limegreen;
  color: black;
  padding: 9px 13px;
  border: 3px solid black;
}

.show {
  display: block;
}


.details_table {
  
}

.our_details table {
  width: 100%;
  border: 0.5vw solid black;
  border-collapse: collapse;
}

.our_details tr, .our_details td{
/*
  border: 0.25vw solid black;
  border-collapse: collapse;
*/
  height: 25px;
  background-color: limegreen;
}

our_details td {
/*  width: 200px;*/
}

.our_details th {
  border-bottom: 0.5vw solid black;
  border-collapse: collapse;
  background-color: deeppink;
  color: white;
}

.devasuda {
  background-color: deeppink;
  color: white;
}

.our_details {
  padding-top: 1vw;
  text-align: left;
/*  line-height: 2vw;*/
}

.poster-rules {
  background-color: cornflowerblue;
  border: 3px solid black;
  padding-left: 3%;
}

.iop_logo {
    grid-column: 1;
    grid-row-start: 4;
    width: 125px;
    padding-top: 10px
}

.sponsors {
    grid-column: 1;
    grid-row: 1/4;
    float: left;
    border-right: 7px solid black;
    background-color: limegreen;
}

.logo_holder {
    grid-column: 3;
    grid-row: 1 /4;
   background-color: white;
    border-left: 7px solid black;
/*    border-bottom: 7px solid black;*/
}


@media screen and (max-width: 600px) {
/*  This will control the mobile site */
  .header {
    text-align: center;
    background-color: cornflowerblue;
    height: 400px;
    overflow: auto;
    margin-top: 127px;
    border-bottom: 5px solid black;
    display: grid;
    grid-template-columns: auto 170px;
    grid-template-rows: 100px 70px 130px 100px;
  }

  .logo {
      width: 165px;
    grid-column: 3;
    grid-row: 1 / 2;
/*      border-left: 1vw solid black;*/
  }

  .main-title {
    font-size: 40px; 
    grid-column: 1 /4;
    grid-row: 3 /4;
    border-top: 1vw solid black;
  }

  body {
/*      font-family: "Segoe Ui";*/
      width: 100%;
      margin: auto;
  }

  .twitter {
      padding-left: 5px;
      float: left
  }

  .twitterlogo {
      float: left;
      width: 30px;
      height: 30px;
      padding-top: 9px;
  }

  .details {
      text-align: center;
  }

  .email {
      float: right
  }

  .uon_logo {
      width: 150px;
      grid-column: 1;
      grid-row: 1;
      height: auto;
      padding-right: 1%;
  }
  
  .sponsors {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: grid;
    border-right: none;  
  background-color: limegreen;
  }

  .iop_logo {
    grid-column: 1;
    grid-row: 1;
    width: 155px;
    padding-top: 70px;
  }


  .logo_holder {
      display: 
      grid-column: 3;
      grid-row: 1 / 3;
      background-color: white;
/*      border-left: 1vw solid black;*/
  }


  .description {
      padding-top: 3%;
      padding-left: 1%;
      font-size: 20px;
      width: 98%;
      text-align: justify;
  }

  .content {
      width: 98%;
      padding-top: 3%;
      padding-left: 1%;
      text-align: center;
      font-size: 20px;
  }

  .navbar {
      height: 120px;
      position: fixed;
      margin-top: -127px;
      background-color: white;
      width: 100%;
      border-bottom: 7px solid black;
  }

  .buttons {
      float: left;
      display: block;
      padding-bottom: 15px;
      padding-top: 15px;
      padding-left: 2%;
    padding-right: 2%;
      font-size: 18px;
      text-decoration: none;
      color: darkblue;
  }

  .buttons:hover {
      background-color: limegreen;
      color: black;
      border: 3px solid black;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 1.4%;
      padding-right: 1.4%;
  }

  .nav_logo {
      float: left;
      height: 80%;
      padding-top: 12px;
  }

  .page_holder {
      margin-top: 60px;
      padding: 50px;
  }

  .location-picture {
    width: 100%;
  }

  .location-content {
    margin-top: 127px;
    width: 98%;
    text-align: justify;
    padding-left: 1%;
  }

  .image-enlarged {
    margin-top: 120px;
    width: 1275px;
  }

  a {
    color: cornflowerblue;
    text-decoration-line: none;
  }

  a:hover {
    color: limegreen;
  }
  
  .speakers-content {
    margin-top: 127px;
    width: 98%;
    text-align: justify;
    padding-left: 1%;
  }
  
  .speaker-bios {
    padding-left: 0%;
  }
  
  .speaker-images {
    height: 100%;
    max-height: 100px;
    max-width: 70px;
  }
  
  .programme-content {
    margin-top: 127px;
    width: 98%;
    text-align: justify;
    padding-left: 1%;
  }
  
  .registration-content {
    margin-top: 127px;
    width: 98%;
    text-align: center;
/*    padding-left: 1%;*/
  }
  
  #emma-pic {
    max-height: 75px;
  }
  
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
/*  cursor: pointer;*/
  font-size: 18px;  
  border: none;
  outline: none;
  color: darkblue;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: limegreen;
  color: black;
  border: 3px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: darkblue;
  font-weight: bold;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: limegreen;
  color: black;
  padding: 9px 13px;
  border: 3px solid black;
}

.show {
  display: block;
}

}
@media screen and (min-width: 1010px) {
/*  This will control the site on screens larger than 1000px */
  .header {
    display: grid;
/*    width: 1000px;*/
    grid-template-columns: 205px auto 205px;
    grid-template-rows: 66px 66px 66px;
    text-align: center;
    background-color: cornflowerblue;
    height: 198px;
    overflow: auto;
    margin-top: 84px;
    border-bottom: 7px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
  }

  .logo {
      float: right;
      width: 197px;
      height: 197px;
/*
      border-left: 7px solid black;
      border-right: 7px solid black;
*/
  }

  .main-title {
    font-size: 39px; 
/*    height: 165px;*/
/*    width: 50px;*/
    margin: 0px;
    padding-top: 35px;
    padding-left: 0%;
    padding-right: 0%;
  }

  body {
/*      font-family: "Segoe Ui";*/
      width: 1000px;
      margin: auto;
  }

  .twitter {
      padding-left: 5px;
      float: left
  }

  .twitterlogo {
      float: left;
      width: 30px;
      height: 30px;
      padding-top: 9px;
  }

  .details {
      text-align: center;
  }

  .email {
      float: right
  }

  .uon_logo {
      width: 195px;
  }
  
  .iop_logo {
      grid-column: 1;
      grid-row: 2;
      width: 197px;
      padding-top: 15px
  }

  .sponsors {
      grid-column: 1;
      grid-row: 1/4;
      float: left;
      border-right: 7px solid black;
      background-color: limegreen;
  }

  .logo_holder {

      grid-column: 3;
      grid-row: 1 / 4;
      background-color: white;
      border-left: 1vw solid black;
  }


  .description {
      padding-top: 22px;
      font-size: 20px;
      text-align: justify;
  }

  .content {
      width: 1000px;
      padding-top: 22px;
      padding-left: 0px;
      text-align: center;
      font-size: 20px;
  }

  .navbar {
      height: 77px;
      position: fixed;
      margin-top: -84px;
      background-color: white;
      width: 1000px;
      border-bottom: 7px solid black;
  }

  .buttons {
      float: left;
      display: block;
      padding: 27px;
      font-size: 20px;
      text-decoration: none;
      color: darkblue;
  }

  .buttons:hover {
      background-color: limegreen;
      color: black;
      border: 3px solid black;
      padding: 24px;
  }

  .nav_logo {
      float: left;
      height: 76px;
      padding: 0px;
  }

  .page_holder {
      margin-top: 77px;
      padding: 50px;
  }



  .location-picture {
    width: 1000px;
  }

  .location-content {
    margin-top: 84px;
    width: 1000px;
    text-align: justify;
    padding-left: 0px;
  }

  .image-enlarged {
    margin-top: 84px;
    width: 100%;
  }

  a {
    color: cornflowerblue;
    text-decoration-line: none;
  }

  a:hover {
    color: limegreen;
  }
  
  .speakers-content {
    margin-top: 84px;
    width: 1000px;
    text-align: justify;
    padding-left: 0px;
  }
  
  .speaker-bios {
    padding-left: 0px;
  }
  
  .programme-content {
    margin-top: 84px;
    width: 1000px;
    text-align: justify;
    padding-left: 0px;
  }
  
  .registration-content {
    margin-top: 84px;
    width: 1000px;
    text-align: center;
/*    padding-left: 5px;*/
  }
}
