.header {
    text-align: center;
    background-color: cornflowerblue;
    height: 200px;
    overflow: auto;
    margin-top: 77px;
}

.logo {
    float: right;
    width: 200px;
    height: 200px;
}

.main-title {
    font-size: 50px; 
    height: 188px;
    width: 500px;
    margin: 0px;
    padding-top: 12px;
    padding-left: 387.5px;
}

body {
    font-family: sans-serif;
    width: 1275px;
    margin: auto;
}

.twitter {
    padding-left: 5px;
    float: left
}

.twitterlogo {
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 9px;
}

.details {
    text-align: center;
}

.email {
    float: right
}

.uon_logo {
    float: left;
    width: 200px;
    height: 77px;
    padding-bottom: 100px
/*    background-color: white;*/
}

.description {
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

.content {
    
}

.navbar {
    height: 77px;
    position: fixed;
    margin-top: -77px;
    background-color: white;
    width: 100%;
}

.buttons {
    float: left;
    display: block;
    padding: 27px;
    font-size: 20px;
    text-decoration: none;
    color: darkblue;
}

.buttons:hover {
    background-color: darkseagreen;
}

.nav_logo {
    float: left;
    height: 77px;
    padding: 0px;
}

.page_holder {
    margin-top: 77px;
    padding: 50px;
}


